*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #f4f5f6;
}

.main,
.bottom_navbar,
.main a {
  background: #fff;
  color: #000;
}

a {
  text-decoration: none;
}

.top_navbar,
.top_navbar a {
  color: #fff;
}

h2,
.signin_container,
.social_title,
.weather,
.bottom_navbar_link,
.opinion {
  font-weight: bold;
}

.navbar {
  margin: -9px -16px;
  display: flex;
  flex-direction: column;
}

.col-big {
  width: 71.83%;
  padding: 0 15px;
}

.col-small {
  width: 28.17%;
  padding: 0 15px;
}

.top_navbar {
  margin: 0px auto;
  width: 100%;
  max-width: 1310px;
  height: 95px;
  display: grid;
  grid-template-areas: "left-top logo right-top" "left-bottom logo right-bottom";
  background: #f72210;
  padding: 20px 10px 15px;
}

.right_arrow {
  font-size: 25px;
  font-weight: 100;
}

.weather {
  grid-area: left-top;
  align-self: start;
  font-size: 15px;
  margin: -10px 0 0 15px;
}

.date {
  grid-area: left-bottom;
  align-self: center;
  font-size: 16px;
  margin: -5px 0 0 14px;
}

.logo {
  grid-area: logo;
  justify-self: center;
}

.logo img {
  width: 396px;
}

.signin_container {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-end;
  grid-area: right-bottom;
  font-size: 18px;
}

.signin_container .right_arrow {
  font-size: 33px;
}

.subscribe {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0px 10px 6px 12px;
  margin-left: 10px;
  height: 25px;
}

.subscribe,
.subscribe a {
  color: #ff0500;
  word-spacing: 1rem;
}

.bottom_navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1310px;
  height: 56px;
  padding: 15px 90px 15px 15px;
  border-bottom: #f4f5f6 solid 2px;
}

.bottom_navbar_link {
  font-size: 19px;
  border-right: solid 1px #d9d9d9;
  height: fit-content;
  padding-right: 1.5%;
}

.bottom_navbar_link a {
  color: #000;
  white-space: nowrap;
}

input {
  border: none;
  width: 60px;
  height: 54px;
  margin-top: -20px;
}

.main {
  width: 100%;
  max-width: 1310px;
  padding: 20px 30px 0px;
}

.social_title {
  width: 100%;
  font-size: 16px;
  color: rgba(3, 3, 3, 0.4);
  margin-bottom: 5px;
}

.stories img {
  width: 100%;
  margin-bottom: 15px;
}

.article_left_col article {
  margin-bottom: 15px;
}

.article_left_col a h2,
.top_story a h2 {
  font-size: 24px;
  color: #000;
  line-height: 25px;
}

.opinion .item {
  display: flex;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.opinion img {
  margin-right: 10px;
}

.opinion .title {
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 7px;
}

.opinion .author {
  font-size: 14px;
  color: #555;
}

.top_story {
  margin-bottom: 20px;
}

.top_story a h2 {
  font-size: 22px;
}

.social_news_wrapper .social_title .heroes_item .title {
  font-family: "Lora", serif;
  font-size: 20px;
  line-height: 25px;
}
